<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="home-header">

    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Início</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Exercícios
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Buscar</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>

                    <li class="nav-item navbar-right">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
                <!--                <form class="d-flex" role="search">-->
                <!--                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--                    <button class="btn btn-outline-success" type="submit">Search</button>-->
                <!--                </form>-->
            </div>
        </div>
    </nav>
    <!--    <nav class="navbar navbar-inverse">-->
    <!--        <div class="container-fluid">-->
    <!--            &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
    <!--            <div class="navbar-header">-->
    <!--                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
    <!--                    <span class="sr-only">Toggle navigation</span>-->
    <!--                    <span class="icon-bar"></span>-->
    <!--                    <span class="icon-bar"></span>-->
    <!--                    <span class="icon-bar"></span>-->
    <!--                </button>-->
    <!--                <a class="navbar-brand" href="/">Rep. Atividades</a>-->
    <!--            </div>-->

    <!--            &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
    <!--            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
    <!--                <ul class="nav navbar-nav">-->
    <!--                    <li class="dropdown">-->
    <!--                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exercícios <span class="caret"></span></a>-->
    <!--                        <ul class="dropdown-menu">-->
    <!--                            <li><a href="/exercise/upload">Importar novos</a></li>-->
    <!--                            <li><a href="/exercise/upload-v2">V2 - Importar novos</a></li>-->
    <!--                            <li><a href="/exercises">Todos os exercícios</a></li>-->
    <!--                        </ul>-->
    <!--                    </li>-->
    <!--                </ul>-->
    <!--                <ul class="nav navbar-nav">-->
    <!--                    <li class="dropdown">-->
    <!--                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Atividades <span class="caret"></span></a>-->
    <!--                        <ul class="dropdown-menu">-->
    <!--                            <li><a href="/activity/create">Gerar atividade</a></li>-->
    <!--                        </ul>-->
    <!--                    </li>-->
    <!--                </ul>-->
    <!--                <ul class="nav navbar-nav navbar-right">-->
    <!--                    <li class="dropdown">-->
    <!--                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opções <span class="caret"></span></a>-->
    <!--                        <ul class="dropdown-menu">-->
    <!--                            <li><a th:href="@{/logout}">Logout</a></li>-->
    <!--                        </ul>-->
    <!--                    </li>-->
    <!--                </ul>-->
    <!--            </div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--        </div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
    <!--    </nav>-->
</div>
</body>
</html>