<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>

<div th:include="fragments/home-header :: home-header"></div>

<link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery.tagsinput.css}" />
<script th:src="@{/assets/js/jquery.tagsinput.js}" type="text/javascript"></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css" />


    <div class="container-fluid">

        <div class="row-fluid">
            <div class="page-header">
                <h1>Editar exercício</h1>
            </div>
        </div>

        <div class="row-fluid">

            <div class="col-lg-12">
                <form class="form-horizontal exercise-form" enctype="multipart/form-data" action="/exercise" method="post">
                    <fieldset>
                        <div class="form-group">

                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-8">
                                    <label>Tags: </label>
                                    <input type="text" class="tags" name="exerciseTags" />
                                </div>
                                <div class="col-sm-1">
                                    <label>Dificuldade: </label>
                                    <select th:name="exerciseLevel">
                                        <option th:value="EASY">Fácil</option>
                                        <option th:value="MEDIUM">Médio</option>
                                        <option th:value="HARD">Difícil</option>
                                    </select>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>

                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <input type="hidden" th:id="exerciseType" th:value="${exercise.type}" th:name="exerciseType" />
                                    <input th:name="exerciseLabel" th:value="${exercise.label}" class="form-control" />
                                    <div th:each="option : ${exercise.exerciseOptions}">
                                        <input th:name="optionLabel" th:value="${option.label}" class="form-control"  />
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <div class="col-md-offset-1 col-md-8">
                                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                            <button class="btn btn-primary save-exercise">OK</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>
    </div>

</body>
</html>