<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>

<div th:include="fragments/home-header :: home-header"></div>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/exercise.css}" />

    <div class="container-fluid">

        <div class="row-fluid">
            <div class="page-header">
                <h1>Exercícios <small>Gerencie aqui seus exercícios já importados</small></h1>
            </div>
        </div>

        <div class="row-fluid">

            <div class="col-lg-12">

                <h2 th:if="${exercises.size() == 0}">
                    Ops, você ainda não tem nenhum exercício,
                    <small><a href="/exercise/upload">clique aqui para importar novos.</a></small>
                </h2>

                <div class="panel panel-default" th:if="${exercises.size() > 0}">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Exercícios</div>

                    <!-- Table -->
                    <table class="table">
                        <thead>
                            <th th:text="Enunciado" class="col-lg-5" />
                            <th th:text="${'Data' + ' ' + 'de' + ' ' + 'criação'}" />
                            <th th:text="Tipo" />
                            <th th:text="Opções" />
                        </thead>
                        <tbody>
                            <tr th:each="exercise : ${exercises}">
                                <td th:text="${exercise.label}" />
                                <td th:text="${#dates.format(exercise.created, 'dd/MM/YYYY hh:mm:ss')}" />
                                <td th:if="${#strings.toString(exercise.type) == 'NO_CHOICE'}" th:text="Dissertativo" />
                                <td th:if="${#strings.toString(exercise.type) == 'MULTIPLE_CHOICE'}" th:text="${'Multipla' + ' ' + 'escolha'}" />
                                <td>
                                    <a th:href="@{/exercise/edit(id = ${exercise.id})}" th:text="Editar" />,
                                    <a th:href="@{#}" th:class="delete" th:onclick="${'javascript:deleteExercise(' + exercise.id + ')'}" th:text="Excluir" />
                                    <input th:type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

<script th:src="@{/assets/js/exercise.js}" type="text/javascript"></script>


</body>
</html>