<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>

<div th:include="fragments/home-header :: home-header"></div>

    <div class="container-fluid">

        <div class="row-fluid">
            <div class="page-header">
                <h1>Exercícios <small>Gerencie aqui seus exercícios já importados</small></h1>
            </div>
        </div>

        <div class="row-fluid">

            <div class="col-lg-12">

                <h2 th:if="${exercises == null}">
                    Ops, você ainda não tem nenhum exercício,
                    <small><a href="/exercise/upload">clique aqui para importar novos.</a></small>
                </h2>

                <div class="panel panel-default" th:if="${exercises != null}">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Exercícios</div>

                    <!-- Table -->
                    <table class="table">
                        <thead>
                            <th class="col-lg-5">Enunciado</th>
                            <th>Criado</th>
                            <th>Tipo</th>
                            <th>Ativo</th>
                            <th>-</th>
                        </thead>
                        <tbody>
                            <tr th:each="exercise : ${exercises}">
                                <td th:text="${exercise.label}"></td>
                                <td th:text="${#dates.format(exercise.created, 'dd/MM/YYYY hh:mm:ss')}"></td>
                                <td th:text="${exercise.type}"></td>
                                <td th:text="${exercise.active}"></td>
                                <td>
                                    <a th:href="@{/exercise/edit(id = ${exercise.id})}">Editar</a>,
                                    <a href="#" th:onclick="${'javascript:deleteExercise(' + exercise.id + ')'}">Excluir</a>
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

<script th:src="@{/assets/js/exercise.js}" type="text/javascript"></script>


</body>
</html>