<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>

<div th:include="fragments/index-header :: index-header"></div>


<div style=" height: 400px; width:100%; background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0f/Teacher-writing-on-blackboard564.jpg'); color:white;" color="white">

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <div class="page-header">
                <h1>Bem vindo!</h1>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron" align="center">
            <h2>Com o Repositório de Atividades, tudo fica mais fácil!</h2>
        </div>
    </div>
</div>

</body>
</html>